
body {
    background-color: hsl(212, 45%, 89%);
}
.container {
    background-color: white;
    border-radius: 15px;
    width: 350px;
    height: 530px;
    padding-top: 20px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto; 
}

img {
    border-radius: 15px;
    width: 325px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div {
    text-align: center;
}

.text1 {
    font-weight: 700;
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 320px;
}

.text2 {
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 265px;
    color: hsl(220, 15%, 55%);
}